// ----------------------------------------------------------------------------
// Numbers
// ----------------------------------------------------------------------------
$playerWidth: 370px;
$progressBarHeight: 4px;
// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------
$darkPurple: #4B3870;
$lightPurple: #A26797;
$pink: #E45A73;
$banana: #F6A957;
$green: #99B898;

// ----------------------------------------------------------------------------
// Colors - Greys
// ----------------------------------------------------------------------------
$nearlyBlack: #1A0A0D;
$greyLighter: #e1e1e1;
$greyLight: #d1d1d1;

// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}
@mixin placeholder($color: gray, $weight: normal) {
  &:-moz-placeholder            { color: $color; font-weight: $weight; } // Firefox 4-18
  &::-moz-placeholder           { color: $color; font-weight: $weight; } // Firefox 19+
  &:-ms-input-placeholder       { color: $color; font-weight: $weight; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $color; font-weight: $weight; } // Safari and Chrome
}

// ----------------------------------------------------------------------------
// Animations
// ----------------------------------------------------------------------------
@keyframes search-pulse {
 0%   {border-color:$pink;}
 50%  {border-color:$green;}
 100% {border-color:$pink;}
}
@-webkit-keyframes search-pulse {
 0%   {border-color:$pink;}
 50%  {border-color:$green;}
 100% {border-color:$pink;}
}

.fade-in.ng-hide-remove,
.fade-in-out.ng-hide-add,
.fade-in-out.ng-hide-remove {
  transition: opacity 0.5s linear;
  display: block!important;
  opacity: 1;
}
.fade-in.ng-hide,
.fade-in-out.ng-hide {
  opacity: 0;
}

// ----------------------------------------------------------------------------
// Styles
// ----------------------------------------------------------------------------
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: whitesmoke;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: $nearlyBlack;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* { box-sizing: border-box }

a {
  color: $lightPurple;
}

h3 { font-size: 16px }
h4 { font-size: 13px }

h4,
h3 {
  font-weight: 600;
  color: white;
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 2000;
  width: 100%;
  padding-top: 5px;
  overflow: hidden;
  background: $nearlyBlack;
}
#playlist {
  position: relative;
  z-index: 1000;
  white-space: nowrap;
  margin-top: -145px;
  height: 150px;
  transition: margin-top 0.2s ease;
  &.expanded {
    margin-top: 0;
  }
  .track {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    width: 74px;
    height: 74px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .track:first-child {
    margin-left: 5px;
    width: 150px;
    height: 150px;
  }
}
.current-track-details {
  position: absolute;
  top: 101px;
  left: 231px;
}
.volume-button {
  position: absolute;
  top: 85px;
  left: 160px;
}

header + * {
  padding-top: 188px;
}

#search-bar {
  position: relative;
  width: 350px;
  margin: 0 auto;
  input {
    width: 100%;
    padding: 6px 0;
    border: 1px solid $greyLighter;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    @include placeholder($pink, 100);
    &:hover {
      outline: 0 none;
      border: 1px solid $lightPurple;
    }
    &:focus {
      outline: 0 none;
      border: 1px solid $pink;
      @include placeholder(transparent, 100);
    }
  }
}
.loading-spinner {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 192px;
  right: 5px;
  background-image: url('/images/loading.gif');
  background-size: 100%;
}
.progress-bar {
  margin-top: 5px;
  width: 100%;
  height: $progressBarHeight;
  transition: width 0.25s linear;
  &.loaded {
    background: grey;
  }
  &.played {
    background: linear-gradient(to right, $banana, $pink);
    margin-top: -$progressBarHeight;
  }
}

#search-results {
  position: relative;
  z-index: 500;
  list-style: none;
  padding: 0;
  margin: 30px auto 0 auto;

  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  li {
    display: block;
    float: left;
    flex: 1 0 280px;
  }
}
search-result {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  img {
    position: relative;
    width: 100%;
    float: left;
  }
  .track-details {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10%;
    width: 100%;
    height: 100%;
    vertical-align: middle;

    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
  }
  .title {
    font-weight: bold;
  }
  .add-to-playlist {
    display: inline-block;
    padding: 3px 12px 4px 12px;
    margin: 20px 0 0 0;
    border: 1px solid white;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
  }

  &:hover {
    .track-details {
      opacity: 1;
    }
  }
}