
<div class="headline-wrapper">
  <div class="headline">
    <h1>Akurra</h1>
    <h2>discover new music, together</h2>
  </div>
</div>

<header>
  <div id="playlist" ng-class="{expanded: playlist.tracks.length}">
    <div class="track-wrapper" ng-repeat="track in playlist.tracks track by $index">
      <div class="track">
        <a ng-href="{{track.permalink_url}}" target="_blank">
          <img ng-if="$first" ng-src="{{track | scArtwork:300}}" alt="">
          <img ng-if="!$first" ng-src="{{track | scArtwork:100}}" alt="">
        </a>
        <span class="remove-icon" ng-if="track.akurraUserId === user.id" ng-click="playlist.removeTrack(track)" ng-include="'images/remove.svg'"></span>
      </div>
    </div>
    <div id="track-meta">
      <volume-button></volume-button>
      <div class="current-track-details">
        <h3><a ng-href="{{player.currentTrack.permalink_url}}" target="_blank">{{player.currentTrack.title}}</a></h3>
        <h4><a href="" ng-click="doSearch(player.currentTrack.user.username)">{{player.currentTrack.user.username}}</a></h4>
      </div>
      <kudos-button></kudos-button>
      <a class="help-button" href="" ng-click="modal.open('help')">?</a>
      <!-- <h1 style="display:inline">{{playlist.numUsers}}</h1> -->
    </div>
  </div>
  <div class="progress-bar loaded" style="width:{{ player.loadingProgress | normalizedToPercentage }}"></div>
  <div class="progress-bar played" style="width:{{ player.progress || 1 | normalizedToPercentage }}"></div>
</header>

<div id="search-bar">
  <input type="text" placeholder="Search Soundcloud" ng-model="search.query" ng-enter="doSearch(search.query)" ng-class="{searching: soundCloud.isSearching}">
  <div class="loading-spinner fade-in-out" ng-show="soundCloud.isSearching">&nbsp;</div>
</div>

<ul id="search-results">
  <li ng-repeat="track in soundCloud.searchResults">
    <search-result track="track"></search-result>
  </li>
</ul>
