<header>
  <div id="playlist">
    <div class="track" ng-repeat="track in playlist.tracks track by $index">
      <img ng-if="$first" ng-src="{{track | scArtwork:300}}" alt="">
      <img ng-if="!$first" ng-src="{{track | scArtwork:100}}" alt="">
    </div>
    <div class="current-track-details">
      <h3>{{player.currentTrack.title}}</h3>
      <h4>{{player.currentTrack.user.username}}</h4>
    </div>
  </div>
  <div class="progress-bar loaded" style="width:{{ player.loadingProgress | normalizedToPercentage }}"></div>
  <div class="progress-bar played" style="width:{{ player.progress | normalizedToPercentage }}"></div>
</header>

<div id="search-bar">
  <input type="text" placeholder="Search Soundcloud" ng-model="search.query" ng-enter="soundCloud.search(search.query)" ng-class="{searching: soundCloud.isSearching}">
</div>

<ul id="search-results">
  <li ng-repeat="track in soundCloud.searchResults">
    <search-result track="track"></search-result>
  </li>
</ul>