<div ng-controller="MainCtrl">

  <section class="playlist">
    <div ng-repeat="track in tracks" class="track">
      <img class="artwork" ng-src="{{ track.artwork_url || track.user.avatar_url | 500 }}" alt="">
      <!-- <img class="waveform" src="{{ track.waveform_url }}" alt=""> -->

      <section class="track-details">
        <h3 class="title">{{ track.title }}</h3>
        <h4 class="artist">{{ track.user.username }}</h4>

        <section class="track-progress">
          <div class="progress-bar loaded" style="width:{{ loadedProgress.value }}"></div>
          <div class="progress-bar played" style="width:{{ playedProgress.value }}"></div>
        </section>

        <div class="track-times">
          <span class="elapsed">{{ elapsed.value | msToDuration }}</span>
          <span class="duration">{{ track.duration | msToDuration }}</span>
        </div>
      </section>

    </div>
  </section>

  <section class="playlist-controls">
    <a class="mute-button {{isMuted ? 'muted' : '' }}" ng-click="player.stop()" ng-show="tracks.length"></a>
  </section>
  
  <section class="search" ng-include="'partials/search'" ng-controller="SearchCtrl"></section>

</div>
