
<!-- Search Bar -->
<div class="input">
  <input ng-model="query.value" ng-enter="searchNow()" type="text" placeholder="Search Soundcloud" class="{{isSearching.value ? 'searching' : ''}}">
</div>

<!-- Search Results -->
<div class="search-results-grid">
  <ul>
    <li ng-repeat="track in soundCloud.searchResults" ng-class-odd="'odd'">
      <a href="#" ng-click="playlist.addTrack(track)">
        <img class="artwork" ng-src="{{ track.artwork_url || track.user.avatar_url | 300 }}" alt="">
        <div class="type-wrapper">
          <div class="result-details">
            <span class="title">{{ track.title }}</span>
            <span class="artist">{{ track.user.username }}</span>
            <span class="duration">{{ track.duration | msToDuration }}</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
